## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.

application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
drop_col_df=application_df.drop(["EIN", "NAME"], axis='columns')
drop_col_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
drop_col_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
class_apps=drop_col_df['APPLICATION_TYPE'].value_counts()

In [5]:
application_types_to_replace=list(class_apps[class_apps< 700].index)

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_apps2=drop_col_df['CLASSIFICATION'].value_counts()
class_apps2
classification_types_to_replace=list(class_apps2[class_apps2< 700].index)
for app in application_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(app,"Other")
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_apps2[class_apps2 > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for cls in classification_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
application_df_dummy=pd.get_dummies(application_df)

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

X = application_df_dummy.drop(["IS_SUCCESSFUL"], axis=1).values
y = application_df_dummy["IS_SUCCESSFUL"].values

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 100)               1961300

 dense_10 (Dense)            (None, 100)               10100

 dense_11 (Dense)            (None, 1)                 101

=================================================================
Total params: 1,971,501
Trainable params: 1,971,501
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=75)

Epoch 1/75
804/804 [==============================] - 22s 21ms/step - loss: 0.4812 - accuracy: 0.7678
Epoch 2/75
804/804 [==============================] - 17s 21ms/step - loss: 0.1220 - accuracy: 0.9566
Epoch 3/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0957 - accuracy: 0.9602
Epoch 4/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0928 - accuracy: 0.9617
Epoch 5/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0915 - accuracy: 0.9624
Epoch 6/75
804/804 [==============================] - 15s 19ms/step - loss: 0.0904 - accuracy: 0.9620
Epoch 7/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0889 - accuracy: 0.9628
Epoch 8/75
804/804 [==============================] - 17s 21ms/step - loss: 0.0894 - accuracy: 0.9626
Epoch 9/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0880 - accuracy: 0.9635
Epoch 10/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0877 - accuracy: 0.9635
Epoch 11/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0870 - accuracy: 0.9638
Epoch 12/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0864 - accuracy: 0.9640
Epoch 13/75
804/804 [==============================] - 16s 20ms/step - loss: 0.0861 - accuracy: 0.9644
Epoch 14/75
804/804 [==============================] - 14s 18ms/step - loss: 0.0855 - accuracy: 0.9646
Epoch 15/75
804/804 [==============================] - 14s 18ms/step - loss: 0.0852 - accuracy: 0.9648
Epoch 16/75
804/804 [==============================] - 14s 18ms/step - loss: 0.0844 - accuracy: 0.9651
Epoch 17/75
804/804 [==============================] - 14s 17ms/step - loss: 0.0836 - accuracy: 0.9650
Epoch 18/75
804/804 [==============================] - 14s 18ms/step - loss: 0.0837 - accuracy: 0.9656
Epoch 19/75
804/804 [==============================] - 14s 17ms/step - loss: 0.0825 - accuracy: 0.9655
Epoch 20/75
804/804 [==============================] - 16s 19ms/step - loss: 0.0824 - accuracy: 0.9660
Epoch 21/75
804/804 [==============================] - 15s 19ms/step - loss: 0.0822 - accuracy: 0.9666
Epoch 22/75
804/804 [==============================] - 14s 17ms/step - loss: 0.0814 - accuracy: 0.9665
Epoch 23/75
804/804 [==============================] - 14s 18ms/step - loss: 0.0812 - accuracy: 0.9660
Epoch 24/75
804/804 [==============================] - 15s 18ms/step - loss: 0.0803 - accuracy: 0.9670
Epoch 25/75
804/804 [==============================] - 14s 17ms/step - loss: 0.0802 - accuracy: 0.9670
Epoch 26/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0796 - accuracy: 0.9667
Epoch 27/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0791 - accuracy: 0.9671
Epoch 28/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0794 - accuracy: 0.9668
Epoch 29/75
804/804 [==============================] - 12s 16ms/step - loss: 0.0784 - accuracy: 0.9679
Epoch 30/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0785 - accuracy: 0.9676
Epoch 31/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0779 - accuracy: 0.9679
Epoch 32/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0776 - accuracy: 0.9677
Epoch 33/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0772 - accuracy: 0.9673
Epoch 34/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0765 - accuracy: 0.9686
Epoch 35/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0764 - accuracy: 0.9683
Epoch 36/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0764 - accuracy: 0.9677
Epoch 37/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0751 - accuracy: 0.9691
Epoch 38/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0756 - accuracy: 0.9687
Epoch 39/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0750 - accuracy: 0.9687
Epoch 40/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0748 - accuracy: 0.9691
Epoch 41/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0744 - accuracy: 0.9690
Epoch 42/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0740 - accuracy: 0.9694
Epoch 43/75
804/804 [==============================] - 12s 16ms/step - loss: 0.0743 - accuracy: 0.9695
Epoch 44/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0736 - accuracy: 0.9690
Epoch 45/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0741 - accuracy: 0.9694
Epoch 46/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0730 - accuracy: 0.9698
Epoch 47/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0732 - accuracy: 0.9698
Epoch 48/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0724 - accuracy: 0.9696
Epoch 49/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0728 - accuracy: 0.9705
Epoch 50/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0722 - accuracy: 0.9698
Epoch 51/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0720 - accuracy: 0.9694
Epoch 52/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0724 - accuracy: 0.9700
Epoch 53/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0720 - accuracy: 0.9698
Epoch 54/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0720 - accuracy: 0.9697
Epoch 55/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0715 - accuracy: 0.9700
Epoch 56/75
804/804 [==============================] - 15s 18ms/step - loss: 0.0714 - accuracy: 0.9700
Epoch 57/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0714 - accuracy: 0.9706
Epoch 58/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0715 - accuracy: 0.9700
Epoch 59/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0708 - accuracy: 0.9705
Epoch 60/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0709 - accuracy: 0.9703
Epoch 61/75
804/804 [==============================] - 14s 17ms/step - loss: 0.0708 - accuracy: 0.9711
Epoch 62/75
804/804 [==============================] - 15s 19ms/step - loss: 0.0706 - accuracy: 0.9707
Epoch 63/75
804/804 [==============================] - 14s 17ms/step - loss: 0.0708 - accuracy: 0.9699
Epoch 64/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0701 - accuracy: 0.9708
Epoch 65/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0704 - accuracy: 0.9706
Epoch 66/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0702 - accuracy: 0.9705
Epoch 67/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0698 - accuracy: 0.9705
Epoch 68/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0699 - accuracy: 0.9708
Epoch 69/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0697 - accuracy: 0.9706
Epoch 70/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0732 - accuracy: 0.9704
Epoch 71/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0695 - accuracy: 0.9709
Epoch 72/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0689 - accuracy: 0.9711
Epoch 73/75
804/804 [==============================] - 12s 15ms/step - loss: 0.0689 - accuracy: 0.9709
Epoch 74/75
804/804 [==============================] - 13s 16ms/step - loss: 0.0690 - accuracy: 0.9714
Epoch 75/75
804/804 [==============================] - 13s 17ms/step - loss: 0.0697 - accuracy: 0.9710

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 1.0835 - accuracy: 0.6496 - 2s/epoch - 6ms/step
Loss: 1.0835226774215698, Accuracy: 0.649562656879425

In [21]:
nn.save("AlphabetSoupCharity_optimization3.h5")